<footer class="footer">
  <div class="wrapper">
    <div class="footer_container fadeUpTrigger">
      <h1 class="footer_logo">
        <a href="{{ shop.url }}"
          ><img
            src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/logo_b.png"
            alt="logo"
            width="126"
            height="226"
        ></a>
      </h1>
      <div class="footer_contents">
        <ul class="footer_nav">
          <li><a href="{{ shop.url }}" class="footer_nav_item">TOPへ</a></li>
          <li><a href="{{ pages.about.url }}" class="footer_nav_item">ナガイタマゴについて</a></li>
          <li>
            <a href="/collections/all" class="footer_nav_item">商品</a>
            <ul class="sub_nav">
              <li><a href="/" class="sub_nav_item">-渥美海粋卵セット</a></li>
            </ul>
          </li>
          <li><a href="{{ pages.faq.url }}" class="footer_nav_item">よくあるご質問</a></li>
          <li><a href="{{ pages.company.url }}" class="footer_nav_item pc">会社概要</a></li>
          <li><a href="{{ pages.terms.url }}" class="footer_nav_item pc">特定商取引法に基づく表記</a></li>
          <li><a href="{{ pages.policy.url }}" class="footer_nav_item pc">プライバシーポリシー</a></li>
        </ul>
        <ul class="footer_btn">
          <li class="footer_btn_item">
            <a href="/account/login"
              ><span>
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                  <path d="M11.5 11.234C14.6769 11.234 17.25 8.72043 17.25 5.61702C17.25 2.51362 14.6769 0 11.5 0C8.32312 0 5.75 2.51362 5.75 5.61702C5.75 8.72043 8.32312 11.234 11.5 11.234ZM11.5 14.0426C7.66187 14.0426 0 15.9243 0 19.6596V21.0638C0 21.8362 0.646875 22.4681 1.4375 22.4681H21.5625C22.3531 22.4681 23 21.8362 23 21.0638V19.6596C23 15.9243 15.3381 14.0426 11.5 14.0426Z" />
                </svg></span
              >ログイン</a
            >
          </li>
          <li class="footer_btn_item">
            <a href="/cart"
              ><span>
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="24" viewBox="0 0 23 24" fill="none">
                  <path d="M18 19.2765C18.5967 19.2765 19.169 19.5186 19.591 19.9496C20.0129 20.3805 20.25 20.965 20.25 21.5744C20.25 22.1838 20.0129 22.7683 19.591 23.1992C19.169 23.6302 18.5967 23.8723 18 23.8723C17.4033 23.8723 16.831 23.6302 16.409 23.1992C15.9871 22.7683 15.75 22.1838 15.75 21.5744C15.75 20.2991 16.7512 19.2765 18 19.2765ZM0 0.893555H3.67875L4.73625 3.19143H21.375C21.6734 3.19143 21.9595 3.31248 22.1705 3.52794C22.3815 3.74341 22.5 4.03565 22.5 4.34036C22.5 4.53568 22.4437 4.731 22.365 4.91483L18.3375 12.3484C17.955 13.0493 17.2125 13.5319 16.3687 13.5319H7.9875L6.975 15.4046L6.94125 15.5425C6.94125 15.6187 6.97088 15.6917 7.02363 15.7456C7.07637 15.7995 7.14791 15.8297 7.2225 15.8297H20.25V18.1276H6.75C6.15326 18.1276 5.58097 17.8855 5.15901 17.4546C4.73705 17.0236 4.5 16.4392 4.5 15.8297C4.5 15.4276 4.60125 15.0484 4.77 14.7267L6.3 11.9119L2.25 3.19143H0V0.893555ZM6.75 19.2765C7.34674 19.2765 7.91903 19.5186 8.34099 19.9496C8.76295 20.3805 9 20.965 9 21.5744C9 22.1838 8.76295 22.7683 8.34099 23.1992C7.91903 23.6302 7.34674 23.8723 6.75 23.8723C6.15326 23.8723 5.58097 23.6302 5.15901 23.1992C4.73705 22.7683 4.5 22.1838 4.5 21.5744C4.5 20.2991 5.50125 19.2765 6.75 19.2765ZM16.875 11.234L20.0025 5.4893H5.7825L8.4375 11.234H16.875Z" />
                </svg></span
              >カート</a
            >
          </li>
        </ul>
        <div class="footer_cta">
          <a href="{{ pages.contact.url }}" class="btn white mail"
            ><span>
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewBox="0 0 30 31" fill="none">
                <path d="M5 25.8334C4.3125 25.8334 3.72417 25.5807 3.235 25.0752C2.74583 24.5697 2.50083 23.9614 2.5 23.2501V7.75008C2.5 7.03966 2.745 6.43172 3.235 5.92625C3.725 5.42078 4.31333 5.16761 5 5.16675H25C25.6875 5.16675 26.2763 5.41991 26.7663 5.92625C27.2563 6.43258 27.5008 7.04053 27.5 7.75008V23.2501C27.5 23.9605 27.2554 24.5689 26.7663 25.0752C26.2771 25.5815 25.6883 25.8343 25 25.8334H5ZM15 16.7917L25 10.3334V7.75008L15 14.2084L5 7.75008V10.3334L15 16.7917Z"/>
              </svg>
            </span>
            <p>お問い合わせ</p>
          </a>
          <p class="footer_phone">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
                <path d="M34.1324 24.151L27.0258 20.9665L27.0062 20.9575C26.6373 20.7997 26.2348 20.7364 25.8353 20.7732C25.4357 20.8101 25.0517 20.946 24.7178 21.1687C24.6785 21.1946 24.6408 21.2228 24.6047 21.2531L20.933 24.3833C18.6069 23.2534 16.2054 20.87 15.0755 18.574L18.2102 14.8465C18.2403 14.8088 18.269 14.7711 18.2961 14.7304C18.514 14.3974 18.6462 14.0158 18.6809 13.6195C18.7157 13.2231 18.6519 12.8243 18.4953 12.4586V12.4405L15.3018 5.32181C15.0947 4.84402 14.7387 4.446 14.2868 4.18717C13.835 3.92835 13.3115 3.8226 12.7946 3.88572C10.7506 4.15469 8.87432 5.15855 7.51629 6.70978C6.15827 8.26102 5.41136 10.2536 5.41505 12.3152C5.41505 24.2928 15.16 34.0377 27.1375 34.0377C29.1992 34.0414 31.1917 33.2945 32.7429 31.9365C34.2942 30.5784 35.298 28.7022 35.567 26.6581C35.6302 26.1414 35.5247 25.6181 35.2661 25.1662C35.0076 24.7144 34.6099 24.3583 34.1324 24.151ZM27.1375 31.6241C22.0182 31.6185 17.1101 29.5824 13.4903 25.9625C9.87036 22.3426 7.83424 17.4346 7.82865 12.3152C7.82298 10.8422 8.35369 9.4174 9.32167 8.307C10.2897 7.19661 11.6287 6.47652 13.0888 6.28122C13.0882 6.28724 13.0882 6.29331 13.0888 6.29932L16.2567 13.3893L13.1386 17.1213C13.1069 17.1578 13.0782 17.1966 13.0526 17.2375C12.8256 17.5858 12.6924 17.9869 12.666 18.4019C12.6396 18.8168 12.7208 19.2315 12.9017 19.6059C14.2684 22.4011 17.0848 25.1964 19.9102 26.5616C20.2873 26.7409 20.7044 26.8193 21.1209 26.7891C21.5373 26.759 21.9388 26.6213 22.2861 26.3896C22.3249 26.3635 22.3621 26.3353 22.3978 26.3051L26.0649 23.1765L33.1549 26.3519H33.1715C32.9786 27.814 32.2596 29.1558 31.149 30.1262C30.0384 31.0966 28.6123 31.6291 27.1375 31.6241Z"/>
              </svg></span
            ><a href="tel:0531-38-0918">0531-38-0918</a>
          </p>
          <p class="opentime">
            【営業時間】<br>
            平日：AM9:00~​PM7:00<br>
            土・日曜・祝日：AM9:00~​PM7:00
          </p>
        </div>
        <ul class="footer_nav_sp">
          <li><a href="{{ pages.company.url }}" class="footer_nav_item_sp">会社概要</a></li>
          <li><a href="{{ pages.terms.url }}" class="footer_nav_item_sp">特定商取引法に基づく表記</a></li>
          <li><a href="{{ pages.policy.url }}" class="footer_nav_item_sp">プライバシーポリシー</a></li>
        </ul>
      </div>
      <!-- footer_contents -->
    </div>
    <!-- footer_container -->
    <p class="copy">Copyright (C)NAGAI TAMAGO. All Rights Reserved.</p>
  </div>
  <!-- wrapper -->
</footer>
