<!-- --------------------- kv  ---------------------- -->
<section class="kv fadeInTrigger">
  <div class="slider">
    <div class="slide active"><img src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/kv_01.webp" alt=""></div>
    <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/kv_02.webp" alt=""></div>
    <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/kv_03.webp" alt=""></div>
    <h2 class="catchcopy">
      <img
        src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/kv_catchcopy.svg?v=1718846272"
        alt="FROM ATSUMI by nagai tamago"
      >
    </h2>
  </div>
</section>
<!-- kv -->
<main>
  <!-- --------------------- about  ---------------------- -->
  <section class="about">
    <div class="about_bg">
      <div class="about_contents fadeUpTrigger">
        <h2 class="top_ttl">
          <span
            ><img
              src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/logo_icon_4d06aeff-cfca-4969-9c8f-db82f7fe6f10.png?v=1718261668"
              alt=""
              width="63"
              height="85"></span
          >ABOUT
        </h2>
        <!--
          <img src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/about_text.png" alt="愛知県渥美半島で生まれた、海苔入りの卵">
        -->
        <div class="about_text">
          <h3 class="about_lead">
            <img
              src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/about_lead_02.png"
              alt="愛知県渥美半島かたの贈り物。海苔と卵の"
              width="146"
              height="712"
            >
          </h3>
          <div class="about_inner_text pc">
            <p>良い卵は、良質な水と餌から。</p>
            <p>
              山の栄養をたっぷり含んだ水が海へと流れ、<br>
              海苔は育ちます。<br>
              その海苔を食べて、鶏たちは栄養を蓄えます。<br>
              海のミネラルを含んだ水が雨となり山に振り、<br>
              その地下水を飲んで鶏が育ちます。
            </p>
            <p>
              ナガイタマゴのブランド卵は、<br>
              海と山の恵みがギュッと詰まった<br>
              最高品質の卵です。
            </p>
          </div>
        </div>
        <div class="about_img">
          <img
            src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/about_text_img.png"
            alt=""
            width="667"
            height="370"
          >
        </div>
        <div class="about_inner_text_sp sp">
          <p>
            良い卵は、良質な水と餌から。<br>
            山の栄養をたっぷり含んだ水が海へと流れ、海苔は育ちます。<br>
            その海苔を食べて鶏たちは栄養を蓄えます。海のミネラルを含んだ水が雨となり山に振り、その地下水を飲んで鶏が育ちます。<br>
            ナガイタマゴのブランド卵は、海と山の恵みがギュッと詰まった最高品質の卵です。
          </p>
        </div>
        <a href="{{ pages.about.url }}" class="btn fadeInTrigger"
          ><span></span>
          <p>ナガイタマゴについて</p>
        </a>
      </div>
    </div>
    <!-- about_bg -->
  </section>
  <!-- about -->
  <!-- --------------------- product  ---------------------- -->
  <section class="product bg_y">
    <div class="product_ttl_container">
      <h2 class="top_ttl fadeUpTrigger">
        <span
          ><img
            src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/logo_icon_4d06aeff-cfca-4969-9c8f-db82f7fe6f10.png?v=1718261668"
            alt=""></span
        >PRODUCT
      </h2>
      <div class="product_item item01 pc">
        <img src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/product_item01.png" alt="">
      </div>
      <div class="product_item item01 sp">
        <img src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/product_item01sp.png" alt="">
      </div>
      <div class="product_item item02 pc">
        <img src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/product_item02.png" alt="">
      </div>
      <div class="product_item item02 sp">
        <img src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/product_item02sp.png" alt="">
      </div>
    </div>
    <div class="product_contents">
      <div class="wrapper">
        <div class="product_container">
          <div class="product_img_box fadeUpTrigger">
            <img
              src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/product_01.png"
              alt=""
              width="534"
              height="541"
            >
          </div>
          <div class="product_text fadeUpTrigger delay02">
            <h3 class="product_ttl">
              海苔入りブランド卵<br class="sp">
              12個セット
            </h3>
            <p class="product_txtbox">
              渥美半島名産の海苔を使用した餌を食べた鶏から生まれた卵。<br>
              温暖な気候で、海のミネラルと山からの豊かな地下水の中で育った栄養価の高い卵です。
            </p>

            <a href="{{ pages.about.url }}" class="btn"
              ><span></span>
              <p>白黄の灯台とは</p>
            </a>

            <a href="/products/海苔入り卵12個セット" class="btn btn2"
              ><span></span>
              <p>商品を見る</p>
            </a>
          </div>
        </div>
        <!-- product_container -->
      </div>
      <!-- wrapper -->
    </div>
    <!-- product_contents -->
    {% comment %}
      <div class="product_contents second">
        <div class="wrapper">
          <div class="product_container">
            <div class="product_img_box fadeUpTrigger delay02">
              <img
                src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/product_02.png"
                alt=""
                width="534"
                height="541"
              >
            </div>
            <div class="product_item item01 sp">
              <img src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/product_item01sp.png" alt="">
            </div>
            <div class="product_item item02 sp">
              <img src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/product_item02.png" alt="">
            </div>
            <div class="product_text fadeUpTrigger">
              <h3 class="product_ttl">
                海苔入りブランド卵・<br class="sp">
                海苔醤油セット
              </h3>
              <p class="product_txtbox">
                卵本来に唯一不足しているビタミンCを補うため、渥美半島名産の海苔を使用した餌を利用。<br>
                温暖な気候で、海のミネラルと山からの豊かな地下水の中で育った栄養価の高い卵です。
              </p>


                <a href="{{ pages.about.url }}" class="btn"
                  ><span></span>
                  <p>白黄の灯台とは</p>
                </a>

                <a href="/products/海苔入りブランド卵-海苔醤油セット" class="btn btn2"
                  ><span></span>
                  <p>商品を見る</p>
                </a>

            </div>
          </div>
          <!-- product_container -->
        </div>
        <!-- wrapper -->
      </div>
      <!-- product_contents -->
    {% endcomment %}
  </section>
  <!-- product -->
  <!-- --------------------- features  ---------------------- -->
  <section class="features bg_y">
    <div class="features_bg">
      <div class="features_item pc">
        <img
          src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/feature_item01.png"
          alt=""
          width="443"
          height="152"
        >
      </div>
      <div class="features_item sp">
        <img
          src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/feature_item01sp.png"
          alt=""
          width="443"
          height="152"
        >
      </div>
      <div class="features_item item02 pc">
        <img
          src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/feature_item02.png"
          alt=""
          width="514"
          height="317"
        >
      </div>
      <div class="features_item item02 sp">
        <img
          src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/feature_item02sp.png"
          alt=""
          width="514"
          height="317"
        >
      </div>
      <div class="wrapper">
        <h2 class="top_ttl fadeUpTrigger">
          <span
            ><img
              src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/logo_icon_4d06aeff-cfca-4969-9c8f-db82f7fe6f10.png?v=1718261668"
              alt=""></span
          >FEATURES
        </h2>
        <div class="featuresSwiper">
          <div class="features_container swiper-wrapper">
            <div class="features_box swiper-slide">
              <div class="features_img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/features_01.png"
                  alt="01"
                  width="443"
                  height="445"
                >
              </div>
              <p class="figure">
                渥美半島の、<br class="sp">
                温暖な気候と豊かな自然
              </p>
              <a href="{{ pages.about.url }}#about01" class="btn white"
                ><span></span>
                <p>詳しく見る</p>
              </a>
            </div>
            <!-- features_box -->
            <div class="features_box swiper-slide">
              <div class="features_img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/features_02.png"
                  alt="01"
                  width="443"
                  height="445"
                >
              </div>
              <p class="figure">
                渥美半島名産の海苔と<br class="sp">
                卵の出会い
              </p>
              <a href="{{ pages.about.url }}#about02" class="btn white"
                ><span></span>
                <p>詳しく見る</p>
              </a>
            </div>
            <!-- features_box -->
            <div class="features_box swiper-slide">
              <div class="features_img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0663/7794/1189/files/features_03.png"
                  alt="01"
                  width="443"
                  height="445"
                >
              </div>
              <p class="figure">
                ナガイタマゴの、<br class="sp">
                鶏への想い
              </p>
              <a href="{{ pages.about.url }}#about03" class="btn white"
                ><span></span>
                <p>詳しく見る</p>
              </a>
            </div>
            <!-- features_box -->
          </div>
          <!-- features_container -->
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
      <!-- wrapper -->
    </div>
  </section>
  <!-- features -->
  <!-- --------------------- q&a  ---------------------- -->
  <section class="faq">
    <h2 class="faq_ttl fadeUpTrigger">Q&A</h2>
    <a href="{{ pages.faq.url }}" class="btn white fadeInTrigger"
      ><span></span>
      <p>よくあるご質問</p>
    </a>
  </section>
  <!-- faq -->
</main>

{% schema %}
{
  "name": "top-mainpage",
  "presets": [
    {
      "name": "top-main"
    }
  ]
}
{% endschema %}
